# This file exists within 'human-friendly_pedantic-timedelta' aka 'pedantic_timedelta':
#
#   https://github.com/hotoffthehamster/human-friendly_pedantic-timedelta

# Building/Packaging/Distributing.
build/
dist/
*.egg-info/

# Byte-compiled/Optimized Python and Library/DLL files.
*.py[cod]
__pycache__/

# Testing and CI tasks.
.pytest_cache/
.tox

# `make coverage-html` output
.coverage
htmlcov/

# pytest-cov / coverage / https://codecov.io
coverage.xml

# Sphinx docs/.
docs/_build/
# After `make docs`:
docs/modules.rst
docs/pedantic_timedelta.rst

